/* Red Hat Mono font family */
@font-face {
  font-family: 'Red Hat Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/redhatmono/v7/jVye7nDnA2uf2zVvFAhhzEsUXfZc_vk45Kb3VJWLE_LHvQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Red Hat Mono';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/redhatmono/v7/jVye7nDnA2uf2zVvFAhhzEsUXfZc_vk45Kb3VJWL9PXHvQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Red Hat Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/redhatmono/v7/jVyY7nDnA2uf2zVvFAhhzEs-VMSjJpBTfgjwQV3I-7E.ttf) format('truetype');
}
@font-face {
  font-family: 'Red Hat Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/redhatmono/v7/jVyY7nDnA2uf2zVvFAhhzEs-VMSjJpBTfgjwQbrP-7E.ttf) format('truetype');
}
/* Poppins font family */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiGyp8kv8JHgFVrJJLedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiDyp8kv8JHgFVrJJLmy15lEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiDyp8kv8JHgFVrJJLm81xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLBT5V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Red Hat Mono';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/redhatmono/v7/jVye7nDnA2uf2zVvFAhhzEsUXfZc_vk45Kb3VJWLE_LHvQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Red Hat Mono';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/redhatmono/v7/jVye7nDnA2uf2zVvFAhhzEsUXfZc_vk45Kb3VJWL9PXHvQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Red Hat Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/redhatmono/v7/jVyY7nDnA2uf2zVvFAhhzEs-VMSjJpBTfgjwQV3I-7E.ttf) format('truetype');
}
@font-face {
  font-family: 'Red Hat Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/redhatmono/v7/jVyY7nDnA2uf2zVvFAhhzEs-VMSjJpBTfgjwQbrP-7E.ttf) format('truetype');
}
/* Header styles */
header {
  padding: 1rem;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #d82148;
  background: #000;
}
header .container {
  display: flex;
  flex-direction: column;
}
header .container .profile_pic {
  background-image: url("../images/profile_pic.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 3px solid #d82148;
  margin: 0 auto;
}
header .container a {
  text-decoration: none;
}
header .container a h1 {
  text-align: center;
  color: #d82148;
  margin-top: 0.25rem;
  text-decoration: underline;
}
header .container h2 {
  margin-top: 0.75rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: #eee;
  font-weight: 400;
  text-align: center;
}
/* Header Nav styles */
nav.header_nav {
  padding: 1.5rem 1rem;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #000;
}
nav.header_nav .container {
  flex-direction: row;
  align-items: center;
  column-gap: 2rem;
}
nav.header_nav .container a {
  text-decoration: none;
  color: #eee;
}
nav.header_nav .container a:hover {
  color: #d82148;
}
/* Main content area styles */
main {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  font-family: "Poppins", sans-serif;
  color: #111;
  background: #fff;
  flex-grow: 1;
}
main .container {
  flex-direction: column;
  row-gap: 3rem;
}
main .container section {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
main .container section h2 {
  margin: 0 auto;
}
main .container section h2 span {
  color: #d82148;
}
main .container section .flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 1rem;
}
main .container section .flexbox .flex-item {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 50%;
}
main .container section .flexbox .flex-item span {
  color: #d82148;
}
main .container section .flexbox .flex-item h3 {
  text-align: center;
}
main .container section .flexbox .flex-item:nth-of-type(1) h3,
main .container section .flexbox .flex-item:nth-of-type(2) h3 {
  background: #000;
  color: #fff;
  padding: 1rem;
  border-radius: 0.25rem;
}
main .container section ul {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  list-style: none;
  margin: 0 auto;
}
main .container section ul li::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #d82148;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: 0;
  /* Also needed for space (tweak if needed) */
}
main .container section .recent-projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main .container section .recent-blogs-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* Footer styles */
footer {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  background: #000;
}
footer .container {
  display: flex;
  flex-direction: column;
}
footer .container .footer-icons-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  justify-content: center;
}
footer .container .footer-icons-wrapper i {
  color: #eee;
  font-size: 1.5rem;
}
footer .container .footer-icons-wrapper i:hover {
  color: #d82148;
}
footer p {
  color: #eee;
  margin-top: 1rem;
}
/* Button Styles */
button.primary_button {
  color: #fff;
  padding: 1rem 2rem;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  font-weight: 700;
  border: none;
  background: #D82148;
  font-size: 1rem;
  border-radius: 0.25rem;
}
/* Global Styles */
html {
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main a {
  text-decoration: underline;
  color: #111;
}
main a:hover {
  color: #d82148;
}
.container {
  display: flex;
  max-width: 640px;
  margin: 0 auto;
}
h1 {
  font-size: 2.75rem;
  font-weight: 700;
}
h2 {
  font-size: 1.75rem;
  font-weight: 700;
}
h3 {
  font-size: 1rem;
  font-weight: 700;
}
p {
  line-height: 1.75rem;
  font-size: 1rem;
}
