footer {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  background: #000;
}
footer .container {
  display: flex;
  flex-direction: column;
}
footer .container .footer-icons-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  justify-content: center;
}
footer .container .footer-icons-wrapper i {
  color: #eee;
  font-size: 1.5rem;
}
footer .container .footer-icons-wrapper i:hover {
  color: #d82148;
}
footer p {
  color: #eee;
  margin-top: 1rem;
}
