nav.header_nav {
  padding: 1.5rem 1rem;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #000;
}
nav.header_nav .container {
  flex-direction: row;
  align-items: center;
  column-gap: 2rem;
}
nav.header_nav .container a {
  text-decoration: underline;
  color: #eee;
}
nav.header_nav .container a:hover {
  color: #d82148;
}
