main {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  font-family: "Poppins", sans-serif;
  color: #111;
  background: #fff;
  flex-grow: 1;
}
main .container {
  flex-direction: column;
  row-gap: 3rem;
}
main .container section {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
main .container section h2 {
  margin: 0 auto;
}
main .container section h2 span {
  color: #d82148;
}
main .container section .flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 1rem;
}
main .container section .flexbox .flex-item {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 50%;
}
main .container section .flexbox .flex-item span {
  color: #d82148;
}
main .container section .flexbox .flex-item h3 {
  text-align: center;
}
main .container section .flexbox .flex-item:nth-of-type(1) h3,
main .container section .flexbox .flex-item:nth-of-type(2) h3 {
  background: #000;
  color: #fff;
  padding: 1rem;
  border-radius: 0.25rem;
}
main .container section ul {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  list-style: none;
  margin: 0 auto;
}
main .container section ul li::before {
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #d82148;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: 0;
  /* Also needed for space (tweak if needed) */
}
main .container section .recent-projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
main .container section .recent-projects-grid .recent-projects-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
main .container section .recent-blogs-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
main .container section .recent-blogs-grid .recent-blogs-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
